.container {
   margin: 5px auto;
   background-color: rgba(176, 193, 194, 0.151);
   max-width: 1120px;
}
.intro__head {
   text-align: center;
   margin: 10px 0px 10px;
   padding-top: 25px;
   
}
.intro {
   text-align: center;
   margin: 10px 0px 10px;
   
}
.about {
   color: blue;
   text-align: center;
   margin: 0;
   font-style: italic;

}
.name {
   text-decoration: underline;
   text-decoration-color: crimson;
}

.img__block {
   display: flex;
   justify-content: space-around;
   margin-top: 20px;
   margin-bottom: 20px;
   max-height: 170px;
   max-width: 100%;
}
.block__img {
   display: flex;
   justify-content: center;
   align-items: center;

}
.img__item {
   max-height: 150px;
   object-fit: cover;
   display: block;
  
   animation-name: move;
   animation-duration: 3s;
   animation-delay: 5s;
   animation-fill-mode: forwards;

}

@media (max-width:630px) {
   .img__item {
      max-height: 100px;
   }
}
@media (max-width:420px) {
   .img__item {
      max-height: 70px;
   }
}

@keyframes move {
0%{
   transform: translateX(1060px);
}

100% {
   transform: translateX(0px);
}
}

.title {
   display: block;
   margin: -15px auto -15px;
   text-align: center;
   color: rgb(157 16 245 / 82%);
}
.li {
   font-size: 18px;
   margin: 5px 5px 5px 5px;
  
}
.li a {
   text-decoration: none;
  
}
.li {
   line-height: 25px;
}
.li :hover {
   color: red;
   text-decoration: underline;
}
.uroki {
   display: flex;
   justify-content: center;
   margin: 0 auto;
   max-width: 375px;
  
}
.spisok {
   list-style: none;
   margin: 0;
   margin-left: 6px;
   padding: 0; 
}